version: 2
jobs:
  test:
    docker:
      - image: circleci/node
    steps:
      - checkout
      - run: npm install
      - run:
          name: Running tests 
          command: npm test
  deploy:
    docker:
      - image: circleci/node
    steps:
      - checkout
      - run:
          name: Installing deployment dependencies
          working_directory: /
          command: |
            sudo apt-get -y -qq update
            sudo apt-get install python-pip python-dev build-essential
            sudo pip install awsebcli --upgrade
      - run:
          name: Deploying
          command: eb deploy git-to-eb
workflows:
  version: 2
  test_then_deploy:
    jobs:
      - test
      - deploy
          filters:
            branches:
              only:
                - master